.navigation 
    .navigation__wrapper 
        a.navigation__title(href='/')=navigation.brandname

        ul.navigation__list 
            each item in navigation.navigation_items
                li.navigation__list__item
                    a.navigation__list__item__link(href='/collections')=item.item_title

