$color-blue: #47B5FF;
$color-darkblue: #1363DF;
$color-navy: #06283D;
$color-snow: #DFF6FF;

$font-roboto: 'Roboto';
$font-bebas: 'Bebas Neue';
$font-pacifico: 'Pacifico';

$z-indexes: (
    'preloader',
    'navigation',
    'content'
)