.collections {
    @extend %page;
    height: 100vh;
}

.collections__wrapper{
    @extend %cover;
}
.collections__title {
    @extend %title-128;
    position: absolute;
    color: $color-blue;
    left: 10%;
    top: 20%;
    text-decoration-line: underline ;
    text-decoration-color: $color-snow;
    text-decoration-thickness:0.5rem ;

    @include media('<phone') {
        padding: 10rem 0 0 0;
        top: 0%;
        left: 1%;
    }
}
.collections__navigation {
    display: flex;
    border-radius: 4rem;
    padding: 2rem;
    position: absolute;
    max-width: 990.15px;
    max-height: 69.58px;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    background-color: $color-blue;
    z-index: 2;
    overflow-x:scroll; 
   &::-webkit-scrollbar {
    max-width: 5px;
    max-height: 5px;
    border-radius: 4rem;
    display: none;
   }
//    &::-webkit-scrollbar-track {

//      background-color: $color-blue;
//      border-radius: 4rem;
//    }
//    &::-webkit-scrollbar-thumb {
//     width: 1rem;
//     background-color: $color-snow;
//     border-radius: 4rem;
//   }

   @include media('<phone') {
    max-width: 300.15px;
    &::-webkit-scrollbar {
       display: none;
       }
   }

}

.collections__navigation__text {
    @extend %title-28;
    color: $color-snow;
    padding: 0rem 2rem;
    border-right: 1px solid $color-snow;
}

.collections__products {
    @extend %cover;
}

[data-slides] {
    @extend %cover;
}

.products__carousel {
    @extend %cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.35s ease;
    opacity: 0;
    inset: 0;
    cursor: pointer;
    @include media('<phone') {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

[data-active] {
    opacity: 1;
    z-index: 1;

} 


.products__carousel__information {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 22rem;
    margin-top: 10rem;
    color: $color-blue;
    @include media('<phone') {
        flex: 1;
        margin-top: 1rem;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 3rem;
    }
}

.products__carousel__information__index {
    @extend %title-128;
    text-align: start;

}

.products__carousel__information__title {
    @extend %title-128;
    margin-top: 1rem;
    margin-right: 0.5rem;
    @include media('<phone') {
        margin-top: 0;
    }
}

.products__carousel__information__description {
    @extend %description-16;
    color: $color-snow;
    margin-top: 1;
    max-width: 50rem;
    @include media('<phone') {
        visibility: hidden;
    }
}


.products__carousel__gallery__media{
    margin-right: 22rem;
    margin-top: 10rem;
    @include media('<phone') {  
       display: flex;
       align-items: flex-end;
        
        flex: 1.5;
        margin-right: 0rem;
    }
}

.products__carousel__gallery__media__image {
    height: 60rem;
    width: 80rem;
    object-fit: cover;

    @include media('<phone') {
        height: 40rem;
    }
}

.products__carousel__btn {
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    position: absolute;
    height: 40rem;
    width: 10rem;
    z-index: 2;
    // svg {
     
    // }
    &.right  {
        right: 2%;
    }

    &.left  {
        left: 2%;
    }

    @include media('<phone') {
        svg {
            height: 5rem;
            width: 5rem;
        }

        &.right  {
            right: 1%;
        }
    
        &.left  {
            left: 1%;
        }
    }
}

.collections__slider {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 66rem;
    height: 1.3rem;
    background-color: $color-snow;
    border-radius: 2rem;
    overflow: hidden;

    @include media('<phone') {
        bottom: 8%;
    }
    
    .collections__slider__element {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0%;
        z-index: 1;
        background-color: $color-blue;
    }
}